@CHARSET "ISO-8859-1";


.autocompleter {
	padding-right:35px;
}   	

.item-type-cd-div .s2j-combobox-input {
  width: 500px;
}

.label {
   	text-align: right;
}

a.fwp-show-hide-section {
   cursor: pointer;
   color: blue;
}